<section class="py-14">
  <div class="container mx-auto">
    <!-- العنوان -->
    <h1
      class="text-center font-extrabold text-3xl mb-6 transition-all duration-700"
       
    >
      Product Details
    </h1>

    <div class="grid sm:grid-cols-12 items-center gap-6 ">
      <!-- الصورة -->
      <div
        class="col-span-4 transition-all duration-700"
    [ngClass]="{
          'opacity-100 translate-x-0': isLoaded,
          'opacity-0 -translate-x-20': !isLoaded
        }"
      >
        <img
          [src]="productDetails.imageCover"
          class="w-full rounded-2xl"
          [alt]="productDetails.title"
        />
      </div>

      <!-- التفاصيل -->
      <div
        class="col-span-8 transition-all duration-700 delay-200"
         [ngClass]="{
          'opacity-100 translate-y-0': isLoaded,
          'opacity-0 -translate-y-20': !isLoaded
        }"
      >
     <div class="flex items-center justify-between">
       <h2 class=" text-xl font-semibold">{{ productDetails.category.name }}</h2>
       <span class="p-2 text-center">
          @if(isBlack===false){
          <i
            (click)="addProductItemToWishList(productDetails._id, $event)"
            class="fa-solid fa-heart fa-lg cursor-pointer dark:text-white"
          ></i>
          }@else if(isBlack===true){
          <i
            (click)="removeItemWish(productDetails._id, $event)"
            class="fa-solid text-red-600 fa-heart fa-lg cursor-pointer"
          ></i>
          }
        </span>
     </div>
        
        <p class="text-gray-500 text-sm my-3">
          {{ productDetails.description }}
        </p>
        <span class="block mb-2 text-sm font-semibold"><u>{{ productDetails.title }}</u></span>

        <div class="flex items-center justify-between mb-3">
          <span class="font-bold text-lg">{{ productDetails.price }} EGY</span>
          <span class="flex items-center gap-1">
            <i class="fa-solid fa-star text-amber-300"></i>
            {{ productDetails.ratingsAverage }}
          </span>
        </div>

        <!-- الزرار -->
        <button
          (click)="addProductItemToCart(productDetails._id)"
          class="btn transition-all duration-700 delay-500"
           [ngClass]="{
            'opacity-100 translate-y-0': isLoaded,
            'opacity-0 translate-y-20': !isLoaded
          }"
        >
          Add To Cart
        </button>
      </div>
    </div>
  </div>
</section>
