<!-- <section
  class="bg-gray-200 rounded-lg border border-gray-200 p-4 shadow-md md:w-1/2 mx-auto my-14"
>
  <h1 class="text-center mb-3 text-3xl font-light">Login Now</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <app-input
      [control]="loginForm.get('email')"
      [idInput]="'email'"
      [typeInput]="'email'"
      [lableInput]="'Email'"
    >
      Email is valid
    </app-input>
    <app-input
      [control]="loginForm.get('password')"
      [idInput]="'password'"
      [typeInput]="'password'"
      [lableInput]="'Password'"
    >
      Custem field should match the pattern
    </app-input>

    <a routerLink="/forget" class="text-[#8B5E35] cursor-pointer font-bold"
      >ForgetPassword?</a
    >

    <button [disabled]="isLoading" type="submit" class="btn mt-2">
      Login @if (isLoading) {
      <span><i class="fa-solid fa-spinner animate-spin"></i></span>
      }
    </button>

    @if (msgError) {
    <p class="text-center text-red-900 p-4 mt-4 bg-red-200">{{ msgError }}</p>
    }@else if (msgSuccess) {
    <p class="text-center text-green-900 p-4 mt-4 bg-green-200">
      {{ msgSuccess }}
    </p>
    }
  </form>
</section> -->

<div
  class="w-full mx-auto my-14 max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h2 class="text-xl font-medium text-gray-900 dark:text-white">
      Sign in to our platform
    </h2>
    <app-input
      [control]="loginForm.get('email')"
      [idInput]="'email'"
      [typeInput]="'email'"
      [lableInput]="'Email'"
    >
      Email is valid
    </app-input>
    <app-input
      [control]="loginForm.get('password')"
      [idInput]="'password'"
      [typeInput]="'password'"
      [lableInput]="'Password'"
    >
      Custem field should match the pattern
    </app-input>
    <div class="flex items-start">
      <div class="flex items-start">
        <div class="flex items-center h-5">
          <input
            id="remember"
            type="checkbox"
            value=""
            class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
            required
          />
        </div>
        <label
          for="remember"
          class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Remember me</label
        >
      </div>
      <a
        routerLink="/forget"
        class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500"
        >Lost Password?</a
      >
    </div>
    <button
      [disabled]="isLoading"
      type="submit"
      class="w-full cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Login to your account
      @if (isLoading) {
      <span><i class="fa-solid fa-spinner animate-spin"></i></span>
      }
    </button>
    @if (msgError) {
    <p class="text-center font-bold text-red-700 px-2 mt-1 bg-red-300">{{ msgError }}</p>
    }@else if (msgSuccess) {
    <p class="text-center font-bold text-green-700 px-2 mt-1 bg-green-300">
      {{ msgSuccess }}
    </p>
    }
    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
      Not registered?
      <a
        routerLink="/register"
        class="text-blue-700 hover:underline dark:text-blue-500"
        >Create account</a
      >
    </div>
  </form>
</div>
